body{
    background-color: rgb(205, 236, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container{
    background-color: white;
    padding: 10px;
    align-items: center;
    width: 50%;
    margin-left:400px;
    margin-top: 180px;
    border-radius: 7px;
    position: relative;
}

.sidebar{
    background-image: url(/assets/images/bg-sidebar-desktop.svg);
    height: 542px;
    width: 230px;
    border-radius: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    color: white;
    text-align: center;
    padding-top: 25px;
    position: relative;
    
}

.step1{
    position: absolute;
    top: 0px;
    right: 120px;
    font-size: 20px;
    text-align: center;    
}

.step1-button{
    background-color: #1195f5;
    color: white;
    position: absolute;
    left:65%;
    bottom: -29%;
    border-radius: 6px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.step1 input {
    border-radius: 5px;
}

.boxes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.boxes h6 {
    color:gray; 
}

.boxes img{
    left:1px;
}

.box1 {
    border: purple 1px solid;
    padding: 40px;
    border-radius: 8px;
}
.box2 {
    border: purple 1px solid;
    padding: 40px;
    border-radius: 8px;
}
.box3 {
    border: purple 1px solid;
    padding: 40px;
    border-radius: 8px;
}

.step2-button1{
    background-color: transparent;
    border: none;
    cursor: pointer;
}